.modal-dialog {
    position: fixed;
    width: auto;
    margin: 0;
    pointer-events: none;
    height: 100%;
    background: white;
}
.buttons {
    position: fixed;
    bottom: 5%;
    width: 83%;
}

.questions .question{
    display: none;
}
.questions .active{
    display: block;
}